.container{
    width: 85px;
    height: 45px;
}
.nav li{
    text-align: center;  
    display: inline;
    padding-left: 13%;

}
.nav{
    background-color:red;
}
img{
    width: 60%;
    height: 5%;
    text-align: center; 
    padding-left: 20%;
    height: 500px;
    
}

.footer{
    background-color: red;
    height: 70px;
}
